<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
    <link href="/bootstrap-timepicker/css/timepicker.css" rel="stylesheet">
    <link href="/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" ref="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</head>

<body ng-app='app'>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">GpsApp</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-if="user">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/settings">Account Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/logout">Log Out</a></li>
                        </ul>
                    </li>
                    <a ng-hide="user" href="/#/login">Log In</a>
                    <br>
                    <a ng-hide="user" href="/#/register">Register</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <toaster-container></toaster-container>
    <div ng-view></div>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js">
    </script>
    <script src="/AngularJS-Toaster/toaster.min.js ">
    </script>
    <script src="/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>
